onebusaway-siri-api-v13/src/main/schemas/siri_onebusaway-v1.3.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns="http://onebusaway.org/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://onebusaway.org/siri"    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="onebusaway_siri">    <xsd:complexType name="SituationConditionDetailsStructure">        <xsd:annotation>            <xsd:documentation>Type for list of situations.</xsd:documentation>        </xsd:annotation>        <xsd:sequence>            <xsd:element name="DiversionPath" type="xsd:string" minOccurs="0">                <xsd:annotation>                    <xsd:documentation>Encoded polyline representation of a diversion/reroute path</xsd:documentation>                </xsd:annotation>            </xsd:element>        </xsd:sequence>    </xsd:complexType>    <xsd:element name="ConditionDetails">        <xsd:complexType>            <xsd:complexContent>                <xsd:extension base="SituationConditionDetailsStructure" />            </xsd:complexContent>        </xsd:complexType>    </xsd:element></xsd:schema>